.main-pre-header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f7f7f7;
  text-align: center;
  span {
    display: inline-block;
    color: #010101;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    img {
      display: inline-block;
      margin-right: 8px;
    }
  }
}

.main-pre-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-pre-header_email {
  text-decoration: underline;
}

.main-pre-header_link {
  a {
    color: #010101;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #00719f;
    }
  }
}

.main-header {
  padding-top: 25px;
  padding-bottom: 30px;
  background-image: url('../images/head_bg.jpg');
  background-size: cover;
  background-position: center;
}

.main-header__top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  div {
    img {
      max-width: 100%;
    }
  }
}

.main-header__call {
  text-align: right;
  span {
    display: block;
    color: #364568;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700;
    line-height: 35px;
  }
  a {
    display: inline-block;
    color: #364568;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #00719f;
    }
  }
}

.main-header__bottom {
  margin-top: 40px;
  text-align: center;
  color: #364568;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.main-header__bottom_bold {
  display: block;
  text-align: center;
  font-weight: 700;
}

.main-header-nav {
  background-color: #37709c;
  border-radius: 2px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.23);
}

.main-header-nav__menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  li {
    padding-top: 24px;
    padding-bottom: 24px;
    a {
      padding-top: 24px;
      padding-bottom: 24px;
      color: white;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.main-content {
  padding-top: 30px;
  padding-bottom: 70px;
}

.main-content_padding {
  padding-left: 15px;
}

.main-sidebar {
  margin-bottom: 30px;
}

.main-sidebar__nav {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    a {
      display: flex;
      align-items: center;
      min-height: 60px;
      margin-bottom: 1px;
      padding-left: 18px;
      padding-right: 18px;
      background-color: #37709c;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
      color: white;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
        background-color: #52ad72;
      }
    }
  }
}

.main-sidebar-results {
  display: flex;
  margin-top: 25px;
  padding: 28px 16px;
  align-items: center;
  background-color: #fbfbfb;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  div {
    img {
      display: block;
      max-width: 100%;
      margin-right: 20px;
    }
    span {
      color: #434343;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }
  }
  &:hover {
    background-color: #e5e5e5;
    color: #00719f;
    text-decoration: none;
    div {
      span {
        color: #00719f;
      }
    }
  }
}

.main-sidebar__title {
  display: block;
  margin-top: 30px;
  margin-bottom: 8px;
  color: #434343;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.main-sidebar__center {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 10px;
  padding: 10px 16px;
  background-color: #fbfbfb;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: #e5e5e5;
    text-decoration: none !important;
    color: #00719f !important;
  }
}

.main-sidebar-center__head {
  display: flex;
  align-items: center;
  color: grey;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  transition: all 0.2s ease-out;
  span {
    display: inline-block;
    margin-right: 8px;
    padding: 2px 8px;
    background-color: #52ad72;
    border-radius: 3px;
    color: #fffbfb;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
  }
}

.main-sidebar-center__name {
  display: flex;
  align-items: center;
  margin-top: 15px;
  img {
    display: inline-block;
    margin-right: 5px;
    max-width: 100%;
  }
  span {
    display: inline-block;
    margin-left: 5px;
    color: #434343;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    transition: all 0.2s ease-out;
  }
}

.main-sidebar__more {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #52ad72;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
}

.main-sidebar__death {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 12px 18px;
  background-color: #2d2d2d;
  background-image: linear-gradient(to top, rgba(16, 16, 16, 0.84) 0%, rgba(27, 27, 27, 0.84) 17%, rgba(80, 80, 80, 0.84) 100%);
  border-radius: 3px;
  transition: all 0.2s ease-out;
  img {
    max-width: 100%;
  }
  span {
    display: inline-block;
    margin-left: 10px;
    color: #cd664b;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
  }
  &:hover {
    background-color: #141414;
    span {
      color: #fa3325;
    }
  }
}

.main-sidebar__interview {
  margin-bottom: 10px;
  padding: 14px;
  background-color: #fbfbfb;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  label {
    color: #434343;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  a {
    display: block;
    color: #52ad72;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #00719f;
    }
  }
}

.main-sidebar__interview_title {
  display: block;
  margin-bottom: 10px;
  color: #52ad72;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.main-sidebar__interview_question {
  display: block;
  margin-bottom: 15px;
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.main-sidebar__interview_button {
  display: inline-block;
  margin-bottom: 15px;
  padding: 12px 18px;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #52ad72;
  border-radius: 3px;
  color: #52ad72;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  &:hover {
    text-decoration: none;
    background-color: #52ad72;
    color: white;
  }
}

.main-sidebar-hello {
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  div {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.57);
    text-align: center;
    padding: 16px;
    span {
      display: block;
      color: white;
      font-family: "Open Sans";
      font-weight: 400;
      line-height: 16px;
      font-size: 14px;
    }
    a {
      display: block;
      color: white;
      font-family: "Open Sans";
      font-weight: 400;
      line-height: 16px;
      font-size: 12px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        color: #52ad72;
      }
    }
  }
}

.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #343434;
}

.main-footer__nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #888;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  li {
    a {
      color: #888;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }
  }
}

.main-footer__creators {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: #898989;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: #52ad72;
  }
}

.main-content__breadrump {
  display: block;
  margin-bottom: 25px;
  color: #474747;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  a {
    color: #474747;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #52ad72;
    }
  }
  span {
    color: #52ad72;
  }
}

.main-content__title {
  display: block;
  margin-bottom: 15px;
  color: black;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.home-prev {
  display: block;
  margin-bottom: 10px;
  color: #595959;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  p {
    margin-bottom: 20px;
  }
}

.home-doctor {
  display: flex;
  margin-bottom: 70px;
  padding: 22px 100px 20px 22px;
  background-color: #fbfbfb;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  color: #595959;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  span {
    display: block;
    margin-top: 5px;
    color: #595959;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
  }
  img {
    display: block;
    margin-right: 15px;
  }
  ol {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    margin-top: 10px;
    list-style-type: none;
    counter-reset: num;
    li::before {
      content: counter(num) '. ';
      counter-increment: num;
      color: #52ad72;
    }
  }
}

.main-content-review {
  margin-bottom: 40px;
  padding: 14px 26px;
  background-color: rgba(82, 173, 114, 0.08);
  border: 1px solid #52ad72;
  border-radius: 3px;
  p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: black;
    a {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #52ad72;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        color: #00719f;
      }
    }
  }
}

.main-content-review__head {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  span {
    display: inline-block;
    margin-right: 10px;
    color: black;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }
}

.home-videos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.home-order {
  margin-bottom: 30px;
  padding: 30px 28px;
  background-color: #52ad72;
  border-radius: 3px;
}

.home-order__title {
  display: block;
  margin-bottom: 25px;
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.home-order__form {
  display: flex;
  justify-content: space-between;
  input {
    min-width: 32%;
    padding: 10px 14px;
    background-color: white;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    outline: none;
    box-shadow: none;
    border: none;
  }
  button {
    min-width: 32%;
    padding: 10px 14px;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #cd664b;
    border-radius: 3px;
    color: white;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
    &:hover {
      background-color: #141414;
    }
  }
}

.home-order__phone {
  display: block;
  margin-top: 30px;
  color: #fefefe;
  font-family: "Open Sans";
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.home-order__phone_number {
  font-size: 24px;
  font-weight: 700;
}

.home-wins {
  display: flex;
  justify-content: space-between;
}

.home-win {
  display: inline-block;
  transition: all 0.1s ease-out;
  span {
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 0.1s ease-out;
  }
  &:hover {
    .home-win__loop {
      transform: scale(1.1);
    }
  }
}

.home-win__image {
  width: 160px;
  height: 220px;
  object-fit: contain;
}

.home-win__loop {
  display: inline-block;
  margin-left: 65px;
  margin-bottom: 95px;
  width: 30px;
  height: 30px;
  transition: all 0.1s ease-out;
}

.article-card {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;
  padding: 28px;
  background-color: #fbfbfb;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  img {
    margin-right: 15px;
    max-width: 100%;
    min-width: 150px;
  }
  span {
    display: block;
    margin-bottom: 10px;
    color: #364568;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
  }
  p {
    color: #595959;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  &:hover {
    text-decoration: none;
    background-color: #e9e9e9
  }
  &:last-of-type {
    margin-bottom: 40px;
  }
}

.news-card {
  display: block;
  margin-bottom: 5px;
  padding: 28px;
  background-color: #fbfbfb;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  span {
    display: block;
    margin-bottom: 15px;
    color: #364568;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
  }
  p {
    color: #595959;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  &:hover {
    text-decoration: none;
    background-color: #e9e9e9
  }
  &:last-of-type {
    margin-bottom: 40px;
  }
}

.article-content {
  margin-bottom: 30px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #010101;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
  }
  h5 {
    font-weight: 700;
  }
  p {
    color: #595959;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  q {
    color: #0a0a0a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
  }
  a {
    color: #52ad72;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #222;
    }
  }
}

.article-videos {
  display: flex;
  margin-top: 15px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.article__info {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 24px 27px;
  background-color: #ecfff3;
  border: 1px solid #52ad72;
  border-radius: 3px;
  color: #595959;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.panel-title>a,
.panel-title>small,
.panel-title>.small,
.panel-title>small>a,
.panel-title>.small>a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.acc-minus {
  display: inline-block;
  float: right;
  width: 28px;
  height: 28px;
  background-image: url('../images/minus.png');
  background-size: contain;
}

.acc-plus {
  display: inline-block;
  float: right;
  width: 28px;
  height: 28px;
  background-image: url('../images/plus.png');
  background-size: contain;
}