@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

  .main-pre-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .main-pre-header__nav {
    flex-flow: column wrap;
  }

  .main-header-nav__menu {
    flex-flow: column wrap;
  }

  .navbar-collapse {
    border: none;
    box-shadow: none;
  }

  .main-header__top {
    flex-flow: column wrap;
    justify-content: center;
  }

  .main-content__breadrump {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .home-doctor {
    flex-flow: column wrap;
    margin-bottom: 20px;
  }

  #accordion {
    margin-bottom: 20px;
  }

  .home-videos {
    flex-flow: column wrap;
    iframe {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }

  .home-order__form {
    flex-flow: column wrap;
    input {
      margin-bottom: 5px;
    }
  }

  .home-wins {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .main-footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-footer__nav {
    flex-flow: column wrap;
  }

  .main-footer__creators:hover {
    margin-top: 10px;
  }

  .article-card {
    flex-flow: column;
    justify-content: center;
    img {
      margin-bottom: 10px;
    }
  }

  .main-sidebar-hello div {
    max-width: 95%;
  }

  .col-sm-3 {
    .row {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .col-sm-9 {
    .row {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}