.panel {
  border: none;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
  border: none;
}

.panel-heading {
  background-color: #fbfbfb;
  border: 1px solid #e9e9e9 !important;
  border-radius: 3px;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid #52ad72 !important;
    text-decoration: none !important;
  }
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
  color: #595959;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.panel-title>a,
.panel-title>small,
.panel-title>.small,
.panel-title>small>a,
.panel-title>.small>a {
  color: black;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

#accordion {
  margin-bottom: 70px;
}

.lb-data .lb-close {
  width: 32px;
  height: 32px;
}

.dropdown-menu {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #37709c;
  border: none;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.34);
  li {
    margin: 0;
    padding: 0;
    a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      &:hover {
        background-color: transparent;
        color: #4be180;
      }
    }
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.nav > li > a {
  display: inline;
}